/* 
--rich-black-fogra-39: #111213ff;

--eerie-black: #212224ff;

--quick-silver: #a1a1a1ff;

--white: #ffffffff;

--blue-crayola: #2f71e8ff;

--cyan-process: #29b9f0ff;
*/

.expense-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;

  background-color: var(--eerie-black);
  justify-content: space-between;
  margin: 2rem 0;
  margin-inline: 5%;
}

.expense-item__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-inline: 5%;
}

.expense-item__price {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--quick-silver);
  height: 3rem;
  width: 6rem;

  font-size: 1.3rem;
}

.expense-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8rem;
  width: 10rem;
  border-radius: 0.5em;
  background-color: var(--quick-silver);
}
.expense-date__day {
  font-size: 2rem;
}
